"*":
  core:
    ignoredNames: [
      "venv"
      ".vscode"
      ".mypy_cache"
      ".git"
    ]
  "tree-view":
    hideIgnoredNames: true
  pymakr:
    address: [
      "192.168.4.1"
    ]
    font_size: 22
    username: "micro"
    password: "python"
    py_ignore: [
      "pymakr.conf"
      ".vscode"
      ".gitignore"
      ".git"
      "project.pymakr"
      "env"
      "venv"
      "__pycache__"
    ]
    sync_file_types: [
      "py"
      "txt"
      "log"
      "json"
      "pem"
      "cet"
      "crt"
      "key"
    ]
    sync_folder: "./app"
