[user]
	email = aymeric.guth@protonmail.com
	name = yul

[core]
	pager = diff-so-fancy | less --tabs=4 -RFX

[interactive]
	diffFilter = diff-so-fancy --patch

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "vimdiff"]
  cmd = "nvim  -d $MERGED $LOCAL $BASE $REMOTE -c 'wincmd J | wincmd ='"
[safe]
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
	directory = *
