.DS_Store
.direnv
.mypy_cache
.venv
venv
.vscode
.zsh_history
.luarc.json
github-copilot
configstore
.stignore
.stfolder
.stversions
.env
package-lock.json
reset.sh
env/**
.luarc.json
TabNine
.local
/fonts
ipython/profile_default/*
!ipython/profile_default/ipython_config.py
/bin/formater-*
/obsidian
/.vim/.netrwhist
/.vim/autoload
/.vim/plugged
/go
/tool_state
/nvim/lazy-lock.json
xyz.chatboxapp.app
Sonixd
deadbeef
google-chrome
gtk-2.0
keepassxc
mimeapps.list
pavucontrol.ini
/pulse
/chromium
/menus
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
/balena-etcher
/dconf
/evolution
/gtk-3.0
/ibus
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
/Google
/Proton
