pynvim
mypy
pylint
pytest
black
virtualenv
meson
httpx
git+https://github.com/python-lsp/python-lsp-server.git@develop
git+https://github.com/python-lsp/pylsp-mypy@master
git+https://github.com/pappasam/jedi-language-server@main
pyright
