[Desktop Entry]
Name=STMicroelectronics STM32CubeIDE 2.0.0
Comment=STMicroelectronics STM32CubeIDE 2.0.0
GenericName=STM32CubeIDE
Exec=env GDK_SCALE=2 /opt/st/stm32cubeide_2.0.0/stm32cubeide_wayland %F
Icon=/opt/st/stm32cubeide_2.0.0/icon.xpm
# Path=/home/yul/st/stm32cubeide_2.0.0/
Terminal=false
StartupNotify=true
Type=Application
Categories=Development
